<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<div lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <meta charset="UTF-8">
        <title>Create</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
              crossorigin="anonymous">
    </head>

    <body>

    <form method="post" action="/create" th:object="${sogne}">
        <label for="sognekode">sognekode:</label>
        <input type="number" id="sognekode" name="sognekode"><br><br>
        <label for="navn">navn:</label>
        <input type="text" id="navn" name="navn"><br><br>
        <label for="kommune">kommune:</label>
        <input type="number" id="kommune" name="kommuneId"><br><br>
        <label for="smittetryk">smittetryk:</label>
        <input type="number" id="smittetryk" step="any" name="smittetryk"><br><br>
        <label for="nedlukningStart">nedlukningStart:</label>
        <input type="date" id="nedlukningStart" name="nedlukningStart"><br><br>

        <input type="submit" value="Create">

    </form>
    </body>
</div>
</html>

<!--    <div class="row justify-content-center" >-->
<!--        <div class="form-group">-->
<!--            <form action="/create" method="post" th:object="${sogneList}">-->


<!--                <input type="number" id="SogneKode" placeholder="SogneKode">-->
<!--                <input type="text" id="Sogne navn" placeholder="Sogne navn">-->
<!--                <input type="number" id="Kommune Id" placeholder="Kommunens Id">-->
<!--                <input type="text" id="smittetype" placeholder="smittetype">-->
<!--                <input type="datetime-local" id="dato" placeholder="dato">-->
<!--                <input type="submit" value="Create">-->

<!--            </form>-->
<!--        </div>-->


